@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

body {
  background-color: #b09e99;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #d8cfcc;
  width: 750px;
  height: 60vh;
  border-radius: 10px;
}

.quote-btn {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 1.5rem;
  padding: 15px 1rem;
  color: white;
  background: rgb(100, 182, 172);
  text-transform: capitalize;
  border: none;
  box-shadow: 2px 2px 2px hsl(173, 36%, 30%);
}

.quote-btn:hover {
  cursor: pointer;
  background-color: hsl(173, 36%, 30%);
  box-shadow: 2px 2px 2px hsl(173, 36%, 20%);
}

.quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;

  text-align: justify;
  color: #6c757d;
  font-size: 1.75rem;
  font-weight: 500;

  width: 80%;
  line-height: 35px;
}

.quote-symbol {
  font-size: 70px;
}

.quote-text {
  transition: opacity 0.15s ease-in;
}

.author-container {
  position: absolute;
  bottom: 15%;
  right: 10%;

  color: #64b6ac;
  text-transform: capitalize;
  font-size: 1.35rem;
  font-weight: 500;
}

.author-container span {
  margin-right: 5px;
}
