@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}
body.wrong {
  --hue: var(--hue-wrong);
}

.title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: bolder;
  font-size: 38px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

#question {
  font-size: 26px;
}

.container {
  width: 800px;
  min-width: 30vw;
  max-width: 80%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;

  transition: all 0.3s ease-out;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0; /* Margin: y axis, x axis */
}

.btn {
  --hue: var(--hue-neutral);
  border: 2px solid hsl(var(--hue), 100%, 40%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
  outline: none;
  transition: all 0.1s ease-in;
}

.btn:hover {
  border: 2px solid black;
  cursor: pointer;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.9);
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}
.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn {
  margin-right: 10px;
}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
